.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #badaed;
    padding: 0 15px;
}

.title{
    color: #1c1c1c;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight:400;
}